<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="aside(classAttr)" class="sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <aside>
        <div class="sidebar-header">
            <span>Health Care</span>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse nav-list-wrapper" id="nav-list-wrapper">
            <ul class="nav-list">
                <li class="nav-item dashboard" data-class-page="dashboard-page"><a th:href="@{/admin}">Dashboard</a></li>
                <li class="nav-item health-care-request"><a href="#">Health Care Request</a></li>
                <li class="nav-item weekly-calendar" data-class-page="weekly-calendar-page"><a th:href="@{/admin/weekly-calendar}">Weekly Calendar</a></li>
                <li class="nav-item patient-management" data-class-page="patient-management-page"><a th:href="@{/admin/patient/management}">Patient Management</a></li>
                <li class="nav-item doctor-management"><a href="#">Doctor Management</a></li>
            </ul>
        </div>
    </aside>
    <script src="/js/admin/aside-navigation.js"></script>
</div>
</body>
</html>
