<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}"></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/admin/aside-navigation.css}">
    <link rel="stylesheet" th:href="@{/css/admin/patient/patient_management.css}">
</head>
<body>
<!-- Include the fragment from aside-navigation.html -->
<div class="main-wrapper dashboard-page" data-class-page="dashboard-page">
    <div th:class="container">
        <div class="row">
            <div th:replace="~{admin/aside-navigation::aside('')}"></div>
            <div class="main-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="manage-patient-wrapper">
                    <div class="main-table-content" th:replace="~{admin/patient/management/all::patient-table}" th:classappend="'new-class'">
                    </div>
                    <div>
                        <a th:href="@{/admin/patient/management}">
                            <button>
                                <span>View More</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<main class="main-content">-->
<!--    <h1>Dashboard Content</h1>-->
<!--</main>-->

</body>
</html>
