.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.form-detail-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 60%;
    height: fit-content;
    max-height: 600px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    padding: 30px 50px;
}

.form-header {
    text-align: center;
    margin-bottom: 50px;
}

.form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
}

.hidden-div {
    display: none;
}

.form-element {
    width: calc(50% - 20px);
}

.form-element * {
    font-size: 16px;
}

.form-input-element input {
    height: 37px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    color: #666;
}

.form-checkbox-element input[type="radio"] {
    appearance: none; /* Remove default radio button styling */
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 50%; /* Makes the border circular */
    position: relative;
    cursor: pointer;
    outline: none;
    top: 5.5px
}

.form-checkbox-element input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: #4CAF50; /* Green fill */
    border-radius: 50%;
}

.form-checkbox-element label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* Label text color */
    margin-right: 20px;
    height: 37px;
    line-height: 37px;
}

.button-submit-wrapper button {
    height: 100%;
    padding: 10px 32px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: #fbe7d3;
    text-transform: uppercase;
    line-height: 39px;
}
