.weekly-calendar-container {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .calendar-grid {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        overflow: scroll;
        height: calc(100vh - 3rem - 100px);

        .day-column {
            min-width: 190px;
            width: 14%;
            padding: 3px;

            .day-header {
                background-color: #eee;
                padding: 10px;
                text-align: center;

                .day-date {
                    font-size: 15px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
        }

        .appointment-card {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 0px 10px 0 10px;
            margin: 5px 0;

            .appointment-status {
                text-align: center;
                font-size: 12.5px;
                font-weight: bold;
            }

            .appointment-time {
                font-size: 12px;
                font-weight: bold;
                margin-top: 15px;
                text-align: center;
                color: #379777;
            }

            &.status-waiting {
                border-left: 4px solid #ccc;

                .appointment-status {
                    color: #ccc;
                }
            }

            &.status-diagnosing {
                border-left: 4px solid #FFEA00;

                .appointment-status {
                    color: #FFEA00;
                }
            }

            &.status-testing {
                border-left: 4px solid #F44336;

                .appointment-status {
                    color: #F44336;
                }
            }

            &.status-complete {
                border-left: 4px solid #76FF03;

                .appointment-status {
                    color: #76FF03;
                }
            }

            .doctor-name {
                font-size: 13px;
                margin-top: 10px !important;
            }

            .doctor-name,
            .patient-name {
                font-size: 12.5px;
                line-height: 20px;
                height: 25px;

                span {
                    font-size: 13.5px;
                    font-weight: bold;
                }
            }

            .patient-name {
                margin-bottom: 5px;
            }
        }
    }
}
