.manage-patient-wrapper {
    height: 100%;
    padding: 40px;
    border-radius: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 4px 20px 0px;

    .header-control {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;

        .action-filter-show,
        .action-filter-close {
            font-size: 18px;
            font-weight: bold;
            color: green;
        }

        .button-add-new {
            appearance: none;
            background-color: #000000;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 50px;
            min-width: 0;
            outline: none;
            padding: 4px 15px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: fit-content;
            will-change: transform;

            &:disabled {
                pointer-events: none;
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                transform: translateY(-2px);
            }

            &:active {
                box-shadow: none;
                transform: translateY(0);
            }
        }
    }

    .wrapper-filter {
        height: 180px;
        max-height: 180px;
        margin-bottom: 50px;

        .form-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 40px;
            row-gap: 30px;
            justify-content: space-between;

            .form-element {
                width: calc(50% - 20px);
            }

            .form-input-element {

                input {
                    padding: 0;
                    height: 37px;
                    border: none;
                    border-bottom: 2px solid #e6e6e6;
                    width: 100%;
                    color: #666;
                    font-size: 16px;
                    margin-top: 5px;
                }

                select {
                    border: none;
                    border-bottom: 2px solid #e6e6e6;
                    width: 100%;
                    height: 39px;
                    background: none;
                    font-size: 16px;
                    color: #666;
                    margin-top: 5px;

                    option {
                        padding: 0;
                    }
                }

                label {
                    font-size: 17px;
                    font-weight: bold;
                    color: #696969;
                    margin-bottom: 5px;
                }
            }
        }

        .action-filter {
            float: right;
            margin: 25px 0;

            button {
                border: none;
                background: no-repeat;
                color: green;
                font-size: 14px;
                margin-right: 15px;
                font-weight: bold;

                &.clear {
                    color: #696969;
                }
            }
        }
    }

    .main-table-content {
        width: 100%;
        height: calc(100% - 60px - 40px);
        overflow-y: scroll;
    }

    table.patient-table {
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;

        tr.patient-table-head {
            height: 60px;

            th {
                font-size: 17px;
                line-height: 1.2;
                font-weight: bold;
            }
        }

        tbody tr {
            height: 40px;
            font-size: 15px;
            line-height: 1.2;
            font-weight: unset;
            border-bottom: 1px solid #E8EAF6;

            &:last-child {
                border-bottom: none;
            }
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        .actions img {
            height: 25px;
            width: auto;
            object-fit: cover;
        }
    }

    .actions-wrapper {
        display: flex;
        justify-content: center;

        button {
            width: fit-content;
            height: fit-content;
            padding: 8px 20px;
            border: none;
            margin: 0 auto;
        }
    }
}